body{
    background: black;
}
.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0;
}
.ftco-navbar-light .navbar-brand{
    color: #ffff;
}
.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus{
color: #ffffff;
}
